<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>全  部</key>
		<array>
			<dict>
				<key>全部</key>
				<string>0</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>旅  游</key>
		<array>
			<dict>
				<key>旅行社</key>
				<string>34</string>
			</dict>
			<dict>
				<key>农家院</key>
				<string>35</string>
			</dict>
			<dict>
				<key>旅游线路</key>
				<string>36</string>
			</dict>
			<dict>
				<key>度假村</key>
				<string>37</string>
			</dict>
			<dict>
				<key>景区</key>
				<string>38</string>
			</dict>
			<dict>
				<key>滑雪场</key>
				<string>71</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>餐饮美食</key>
		<array>
			<dict>
				<key>中餐馆</key>
				<string>39</string>
			</dict>
			<dict>
				<key>西餐</key>
				<string>40</string>
			</dict>
			<dict>
				<key>日韩料理</key>
				<string>41</string>
			</dict>
			<dict>
				<key>咖啡/茶楼</key>
				<string>42</string>
			</dict>
			<dict>
				<key>面包/糕点</key>
				<string>43</string>
			</dict>
			<dict>
				<key>自助/快餐</key>
				<string>44</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>休闲娱乐</key>
		<array>
			<dict>
				<key>俱乐部</key>
				<string>45</string>
			</dict>
			<dict>
				<key>电影院</key>
				<string>46</string>
			</dict>
			<dict>
				<key>KTV</key>
				<string>47</string>
			</dict>
			<dict>
				<key>洗浴/保健</key>
				<string>48</string>
			</dict>
			<dict>
				<key>婚纱摄影</key>
				<string>49</string>
			</dict>
			<dict>
				<key>美容美发</key>
				<string>50</string>
			</dict>
			<dict>
				<key>酒吧</key>
				<string>51</string>
			</dict>
			<dict>
				<key>运动/健身</key>
				<string>52</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>酒店住宿</key>
		<array>
			<dict>
				<key>快捷酒店</key>
				<string>53</string>
			</dict>
			<dict>
				<key>星级宾馆</key>
				<string>54</string>
			</dict>
			<dict>
				<key>民营旅馆</key>
				<string>72</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>生活服务</key>
		<array>
			<dict>
				<key>4S店</key>
				<string>55</string>
			</dict>
			<dict>
				<key>车辆租赁</key>
				<string>56</string>
			</dict>
			<dict>
				<key>汽车养护</key>
				<string>57</string>
			</dict>
			<dict>
				<key>医院/医护</key>
				<string>58</string>
			</dict>
			<dict>
				<key>药店康复</key>
				<string>59</string>
			</dict>
			<dict>
				<key>家政服务</key>
				<string>60</string>
			</dict>
			<dict>
				<key>超市/卖场</key>
				<string>61</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>时尚购物</key>
		<array>
			<dict>
				<key>家具/家电</key>
				<string>62</string>
			</dict>
			<dict>
				<key>专卖店</key>
				<string>63</string>
			</dict>
			<dict>
				<key>超市/卖场</key>
				<string>64</string>
			</dict>
			<dict>
				<key>化妆品</key>
				<string>65</string>
			</dict>
		</array>
	</dict>
</array>
</plist>
