<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>id</key>
		<string>1</string>
		<key>name</key>
		<string>全国</string>
	</dict>
	<dict>
		<key>id</key>
		<string>26</string>
		<key>name</key>
		<string>保定</string>
	</dict>
	<dict>
		<key>id</key>
		<string>16</string>
		<key>name</key>
		<string>北京</string>
	</dict>
	<dict>
		<key>id</key>
		<string>29</string>
		<key>name</key>
		<string>沧州</string>
	</dict>
	<dict>
		<key>id</key>
		<string>28</string>
		<key>name</key>
		<string>承德</string>
	</dict>
	<dict>
		<key>id</key>
		<string>33</string>
		<key>name</key>
		<string>重庆</string>
	</dict>
	<dict>
		<key>id</key>
		<string>15</string>
		<key>name</key>
		<string>福州</string>
	</dict>
	<dict>
		<key>id</key>
		<string>32</string>
		<key>name</key>
		<string>海南</string>
	</dict>
	<dict>
		<key>id</key>
		<string>24</string>
		<key>name</key>
		<string>邯郸</string>
	</dict>
	<dict>
		<key>id</key>
		<string>30</string>
		<key>name</key>
		<string>衡水</string>
	</dict>
	<dict>
		<key>id</key>
		<string>34</string>
		<key>name</key>
		<string>湖北</string>
	</dict>
	<dict>
		<key>id</key>
		<string>18</string>
		<key>name</key>
		<string>廊坊</string>
	</dict>
	<dict>
		<key>id</key>
		<string>23</string>
		<key>name</key>
		<string>秦皇岛</string>
	</dict>
	<dict>
		<key>id</key>
		<string>31</string>
		<key>name</key>
		<string>山东</string>
	</dict>
	<dict>
		<key>id</key>
		<string>17</string>
		<key>name</key>
		<string>上海</string>
	</dict>
	<dict>
		<key>id</key>
		<string>20</string>
		<key>name</key>
		<string>石家庄</string>
	</dict>
	<dict>
		<key>id</key>
		<string>22</string>
		<key>name</key>
		<string>唐山</string>
	</dict>
	<dict>
		<key>id</key>
		<string>19</string>
		<key>name</key>
		<string>天津</string>
	</dict>
	<dict>
		<key>id</key>
		<string>25</string>
		<key>name</key>
		<string>邢台</string>
	</dict>
	<dict>
		<key>id</key>
		<string>27</string>
		<key>name</key>
		<string>张家口</string>
	</dict>
</array>
</plist>
